/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #ef4da6;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: fixed;
  width: 100%;
  margin-right: 3%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 10px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.navigation ul li a .icon img {
  position: relative;
  top: 1.35rem;
  left: rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.navigation ul li a .title1 {
  position: relative;
  left: -2rem;
  top: -1.5rem;
  display: block;
  padding: 50px;
  height: 80px;
  line-height: 50px;
  text-align: start;
  white-space: nowrap;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: fixed;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: pink;
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: var(--black2);
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0rem;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  display: flex;
  align-items: center;
}

.user img {
  position: relative;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

.user small {
  display: inline-block;
  color: var(--text-grey);
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5%;
}

.cardBox .head-card {
  position: relative;
  background: #efefef;
  text-align: center;
  width: 40rem;
  height: 0rem;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  cursor: auto;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .back-button:hover{
  background: var(--blue);
}

.back-button {
  display: flex;
  padding: 10px;
  background-color: #efefef;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.back-button::before {
  content: '\2190'; /* Unicode arrow left character */
  margin-right: 5px;
}

.back-button:hover {
  background-color: #dedede;
}

.cardBox .head-card .cardName {
  color: black;
  font-size: 1.5rem;
  margin-top: -25rem;
  margin-left: 16rem;
  display: inline-block;
  text-align: center;
}

.heading {
  padding: 5px;
  padding-right: 500px;
  padding-top: 2rem;
  font-size: 25px;
}

.hidden-content {
  display: none;
}

.see-more {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #be3979;
  color: #fff;
  border: none;
  cursor: pointer;
}

.see-more:hover {
  background-color: #9b285f;
}

.content-point {
  margin-left: 10px;
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}

.content {
    max-height: 70px;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .show-content {
    max-height: none;
  }

  
  p{
    margin: 30px;
    margin-bottom: 0%;
    font-size: large;
  }

 

  h3{
    text-align: left; 
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large; 
    font-weight: 800;
    margin: 20px;
  }

  h1{
    margin: 20px;
    text-align: center; 
    font-family: 'Courier New', Courier, monospace; 
    font-size: xx-large; 
    font-weight: 1000;
  }

  
  
  #more {
    display: none;
    
  }

  .scroll-container{
    max-height: 100vh; /* Set the desired height for the scrollable area */
    overflow-y: auto; /* Enable scrolling when content overflows the container */
    
  }

  .specific-p {
    color: red; /* Change the color to red */

  }